<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Online Desktop</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/scripts.js"></script>
</head>
<body onload="startTime()">
    <div class="container">
        <div class="top">
            <div id="date">Date</div>
            <h1>My Personal Desktop</h1>
            <div id="clock"></div>
        </div>
        <div class="main">
           <div class="widget">
               <h3> W1</h3>
               <div>
                   <textarea id="note-area" name="message" rows="20" cols="40">

                   </textarea>
               </div>
               <p><button id="saveNoteBtn">Save</button> </p>
           </div>
           <div class="widget">
               <h3> W2</h3>
           </div>
            <div class="widget">
               <h3> W3</h3>
            </div>
        </div>
    </div>
</body>

<script>
    var space = "/"
    var today = new Date();
    var dt = today.getDate();
    var mm = today.getMonth();
    var yyyy = today.getFullYear();

    if (dt<10){
        dt = "0" + dt;
    }
    if (mm<10){
        mm = "0" + mm;
    }

    $('#date').html(mm + space + dt + space + yyyy);
</script>
</html>

